<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />
    <title>cadastro</title>
  </head>
  <body>
    {% include "./components/navbar.html" %}
    <form action="{% url 'cadastro' %}" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="nome_tarefa">Nome da tarefa</label>
        <input type="text" id="nome_tarefa" name="nome_tarefa" />
      </div>
      <div class="form-group">
        <label for="data_add">Data da Tarefa</label>
        <input type="date" id="data_add" name="data_hora_add" />
      </div>
      <div class="form-group">
        <label for="descricao">Descrição da Tarefa:</label>
        <textarea
          id="descricao"
          name="descricao_task"
          rows="4"
          cols="50"
        ></textarea>
      </div>
      <div class="button-send">
        <button type="submit">Adicionar Tarefa</button>
      </div>
    </form>
  </body>
</html>
