<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/lista.css" />
    <link rel="stylesheet" href="../static/css/navbar.css" />

    <title>Lista de Tarefas</title>
  </head>
  <body>
    {% include "./components/navbar.html" %}
    <main>
      {% if not dados %}
      <h1>Nenhuma ativade para hoje</h1>
      {% else %}
      <h1>Lista de Tarefas</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome da Tarefa</th>
            <th>Descrição</th>
            <th>Data da Tarefa</th>
            <th>Data de Criação</th>
            <th>Editar</th>
            <th>Excluir</th>
          </tr>
        </thead>
        {% endif %}
        <tbody id="tarefas">
          {% for dado in dados %}
          <tr>
            <td>{{ dado.id }}</td>
            <td>{{ dado.nome_tarefa }}</td>
            <td>{{ dado.descricao }}</td>
            <td>{{ dado.data_tarefa }}</td>
            <td>{{ dado.data_hora_add }}</td>

            <td>
              <button
                class="editar-tarefa"
                onclick="window.location.href='{% url 'editar' dado.id %}'"
              >
                Editar
              </button>
            </td>
            <td>
              <button
                class="excluir-tarefa"
                onclick="window.location.href='{% url 'deletar' dado.id %}'"
              >
                Excluir
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
